@{
    Project.Models.Student student = ViewData["Student"] as Project.Models.Student;
    Project.Models.Doctor dean = ViewData["Dean"] as Project.Models.Doctor;
    IEnumerable<Project.Models.Department> Departments = ViewData["Departments"] as IEnumerable<Project.Models.Department>;
    IEnumerable<Project.Models.Level> Levels = ViewData["Levels"] as IEnumerable<Project.Models.Level>;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@dean.User.FullName.Split(' ')[0]</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="admin-themes-lab">
    <meta name="author" content="themes-lab">
    <script src="~/Assets/css/icons/font-awesome/font-awesome.js"></script>
    <link rel="shortcut icon" href="~/Assets/images/favicon.png" type="image/png">
    <link href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/style.css" rel="stylesheet"> <!-- MANDATORY -->
    <link href="~/Assets/css/theme.css" rel="stylesheet"> <!-- MANDATORY -->
    <link href="~/Assets/css/ui.css" rel="stylesheet"> <!-- MANDATORY -->
    <link href="~/Assets/plugins/datatables/dataTables.min.css" rel="stylesheet">
    <script src="~/Assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    <!-- BEGIN SIDEBAR -->
    <div class="sidebar">
        <div class="logopanel">
        </div>
        <div class="sidebar-inner">
            <div class="sidebar-top big-img">
                <div class="user-image">
                    @{
                        if (dean.User.UserPicture == null)
                        {
                            <img src="~/Database/Images/user-avatar.png" class="img-responsive img-circle" style="height: 120px; width: 100%;">
                        }
                        else
                        {
                            <img src="@Url.Content(dean.User.UserPicture.Path)" class="img-responsive img-circle" style="height: 120px; width: 100%;">
                        }
                    }
                </div>
                <h4>@dean.User.FullName.Split(' ')[0]</h4>
            </div>
            <Br>
            <ul class="nav nav-sidebar">
                <li class="tm nav-active" style="width: 100%;"><a href="@Url.Action("Index", "Dean")"><i class="fas fa-archway" style="font-size:large;"></i><span>Home</span></a></li>
                <li class="tm nav-active"><a href="@Url.Action("ViewCourses", "Dean")"><i class="fas fa-book-open" style="font-size:large;"></i><span>Courses</span></a></li>
                <li class="tm nav-active"><a href="@Url.Action("ViewDepartments", "Dean")"><i class="fas fa-address-card" style="font-size:large;"></i><span>Departments</span></a></li>
                <li class="tm nav-active"><a href="#"><i class="fas fa-calendar-alt" style="font-size:large;">&nbsp;</i><span>Timetable</span></a></li>
                <li class="tm nav-active">
                    <a href="@Url.Action("Mail", "Dean")"><i class="fas fa-envelope" style="font-size:large;">&nbsp;</i><span>Mailbox</span> <span class="fa arrow"></span></a>
                </li>

            </ul>
            <div class="sidebar-widgets" style=""></div>
            <div class="sidebar-footer clearfix" style="">
                <a class="pull-left toggle_fullscreen" href="#" data-rel="tooltip" data-placement="top" data-original-title="Fullscreen">
                    <i class="icon-size-fullscreen"></i>
                </a>
                <a class="pull-left btn-effect" href="@Url.Action("Logout", "Home")" data-modal="modal-1" data-rel="tooltip" data-placement="top" data-original-title="Logout">
                    <i class="icon-power"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR -->

    <!-- BEGIN TOPBAR -->
    <div class="topbar" style="width: 100%;">
        <div class="header-left" style="display: block;">
            <div class="topnav">
                <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            </div>
        </div>
        <div class="header-right">
            <ul class="header-menu nav navbar-nav">
                <!-- BEGIN USER DROPDOWN -->
                <li class="dropdown" id="user-header">
                    <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img src="~/Database/Images/user-avatar.png" alt="user image" style="height:62%;">
                        <span class="username">Hi, @dean.User.FullName.Split(' ')[0]</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Profile", "Dean", new { id = dean.DoctorID})"><i class="icon-settings"></i><span>Account Settings</span></a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Home")"><i class="icon-logout"></i><span>Logout</span></a>
                        </li>
                    </ul>
                </li>
                <!-- END USER DROPDOWN -->
            </ul>
        </div>
    </div>
    <!-- END TOPBAR -->

    <div class="col-6 offset-4">
        <div style="width:100%; height:100%;">
            @{
                if (student.User.UserPicture == null)
                {
                    <img src="~/Database/Images/user-avatar.png" class="col-4 offset-4" style="margin-top:25px;border-radius:50%; height:140px;" />
                }
                else
                {
                    <img src="@Url.Content(student.User.UserPicture.Path)" class="col-4 offset-4" style="margin-top:25px;border-radius:50%; height:140px;" />
                }
            }
        </div>
        <form action="@Url.Action("EditStudent", "Dean")" method="post">
            <div>
                <h2 class="text-center">@student.User.FullName.Split(' ')[0]</h2>
                <!--Role-->
                <input type="hidden" name="User.RoleID" value="3" />
                <!--Student ID-->
                <div class="form-group">
                    <input type="hidden" name="StudentID" class="form-control" value="@student.StudentID" />
                </div>
                <!--SSN-->
                <div class="form-group">
                    <label>SSN :</label>
                    <input name="User.SSN" class="form-control" value="@student.User.SSN" />
                </div>
                <!--Full Name-->
                <div class="form-group">
                    <label>Full Name :</label>
                    <input name="User.FullName" class="form-control" value="@student.User.FullName" />
                </div>
                <!--Gender-->
                <div class="form-group">
                    <label>Gender :</label>
                    <select name="User.Gender" class="form-control">
                        @if (student.User.Gender == true)
                        {
                            <option value="true" selected>Male</option>
                            <option value="false">Female</option>
                        }
                        else
                        {
                            <option value="true">Male</option>
                            <option value="false" selected>Female</option>
                        }
                    </select>
                </div>
                <!--BirthDate-->
                <div class="form-group">
                    <label>Birth Date :</label>
                    @{
                        string birthdate;
                        if (student.User.BirthDate.Month < 10)
                        {
                            if (student.User.BirthDate.Day < 10)
                            {
                                birthdate = student.User.BirthDate.Year.ToString() + "-0" + student.User.BirthDate.Month.ToString() + "-0" + student.User.BirthDate.Day.ToString();
                            }
                            else
                            {
                                birthdate = student.User.BirthDate.Year.ToString() + "-0" + student.User.BirthDate.Month.ToString() + "-" + student.User.BirthDate.Day.ToString();
                            }
                        }
                        else
                        {
                            if (student.User.BirthDate.Day < 10)
                            {
                                birthdate = student.User.BirthDate.Year.ToString() + "-" + student.User.BirthDate.Month.ToString() + "-0" + student.User.BirthDate.Day.ToString();
                            }
                            else
                            {
                                birthdate = student.User.BirthDate.Year.ToString() + "-" + student.User.BirthDate.Month.ToString() + "-" + student.User.BirthDate.Day.ToString();
                            }
                        }
                    }
                    <input name="User.BirthDate" type="date" class="form-control" value="@birthdate" />
                </div>
                <!--Phone-->
                <div class="form-group">
                    <label>Phone :</label>
                    <input name="User.Phone" class="form-control" value="@student.User.Phone" />
                </div>
                <!--Email-->
                <div class="form-group">
                    <label>Email :</label>
                    <input type="email" name="User.Email" class="form-control" value="@student.User.Email" />
                </div>
                <!--Password-->
                <div class="form-group">
                    <label>Password :</label>
                    <input type="password" name="User.Password" class="form-control" value="@student.User.Password" />
                </div>
                <!--Street-->
                <div class="form-group">
                    <label>Street :</label>
                    <input name="User.Street" class="form-control" value="@student.User.Street" />
                </div>
                <!--City-->
                <div class="form-group">
                    <label>City :</label>
                    <input name="User.City" class="form-control" value="@student.User.City" />
                </div>
                <!--Country-->
                <div class="form-group">
                    <label>Country :</label>
                    <input name="User.Country" class="form-control" value="@student.User.Country" />
                </div>

                <!--Level-->
                <div class="form-group">
                    <label>Level :</label>
                    <select name="Lvl" class="form-control">
                        @foreach (var level in Levels)
                        {
                            if (student.Lvl == level.level)
                            {
                                <option value="@level.level" selected>@level.level</option>
                            }
                            else
                            {
                                <option value="@level.level">@level.level</option>
                            }
                        }
                    </select>
                </div>
                <!--Choose Major Department-->
                <div class="form-group">
                    <label>Major Department :</label>
                    <select name="MajorDepID" class="form-control">
                        @foreach (var department in Departments)
                        {
                            if (student.MajorDepID == department.DepartmentID)
                            {
                                <option value="@department.DepartmentID" selected>@department.Title</option>
                            }
                            else
                            {
                                <option value="@department.DepartmentID">@department.Title</option>
                            }
                        }
                    </select>
                </div>
                <!--Choose Minor Department-->
                <div class="form-group">
                    <label>Minor Department :</label>
                    <select name="MinorDepID" class="form-control">
                        @foreach (var department in Departments)
                        {
                            if (student.MinorDepID == department.DepartmentID)
                            {
                                <option value="@department.DepartmentID" selected>@department.Title</option>
                            }
                            else
                            {
                                <option value="@department.DepartmentID">@department.Title</option>
                            }
                        }
                    </select>
                </div>
                <!--Payments Status-->
                <div class="form-group">
                    <label>Payments Status :</label>
                    <select name="PaymentStatus" class="form-control">
                        @if (student.PaymentStatus == true)
                        {
                            <option value="true" selected>Paid</option>
                            <option value="false">Unpaid</option>
                        }
                        else
                        {
                            <option value="true">Paid</option>
                            <option value="false" selected>Unpaid</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-dark btn-block">Save</button>
                <a href="@Url.Action("ViewStudent", "Dean", new { id = student.StudentID})" class="btn btn-outline-dark btn-block">Cancel</a>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Student/Profile.js"></script><!------------------------------------------------------------------------------------------------->
    <script src="~/Assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Assets/plugins/gsap/main-gsap.min.js"></script> <!-- HTML Animations -->
    <script src="~/Assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
    <script src="~/Assets/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
    <script src="~/Assets/plugins/translate/jqueryTranslator.min.js"></script> <!-- Translate Plugin with JSON data -->
    <script src="~/Assets/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
    <script src="~/Assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
    <script src="~/Assets/plugins/switchery/switchery.min.js"></script> <!-- IOS Switch -->
    <script src="~/Assets/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
    <script src="~/Assets/plugins/retina/retina.min.js"></script>  <!-- Retina Display -->
    <script src="~/Assets/plugins/jquery-cookies/jquery.cookies.js"></script> <!-- Jquery Cookies, for theme -->
    <script src="~/Assets/plugins/bootstrap/js/jasny-bootstrap.min.js"></script> <!-- File Upload and Input Masks -->
    <script src="~/Assets/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
    <script src="~/Assets/plugins/bootstrap-tags-input/bootstrap-tagsinput.min.js"></script> <!-- Select Inputs -->
    <script src="~/Assets/plugins/bootstrap-loading/lada.min.js"></script> <!-- Buttons Loading State -->
    <script src="~/Assets/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script> <!-- Time Picker -->
    <script src="~/Assets/plugins/multidatepicker/multidatespicker.min.js"></script> <!-- Multi dates Picker -->
    <script src="~/Assets/plugins/colorpicker/spectrum.min.js"></script> <!-- Color Picker -->
    <script src="~/Assets/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script> <!-- A mobile and touch friendly input spinner component for Bootstrap -->
    <script src="~/Assets/plugins/autosize/autosize.min.js"></script> <!-- Textarea autoresize -->
    <script src="~/Assets/plugins/icheck/icheck.min.js"></script> <!-- Icheck -->
    <script src="~/Assets/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script> <!-- Inline Edition X-editable -->
    <script src="~/Assets/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script> <!-- File Upload and Input Masks -->
    <script src="~/Assets/plugins/prettify/prettify.min.js"></script> <!-- Show html code -->
    <script src="~/Assets/plugins/slick/slick.min.js"></script> <!-- Slider -->
    <script src="~/Assets/plugins/countup/countUp.min.js"></script> <!-- Animated Counter Number -->
    <script src="~/Assets/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
    <script src="~/Assets/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
    <script src="~/Assets/plugins/charts-chartjs/Chart.min.js"></script>  <!-- ChartJS Chart -->
    <script src="~/Assets/plugins/bootstrap-slider/bootstrap-slider.js"></script> <!-- Bootstrap Input Slider -->
    <script src="~/Assets/plugins/visible/jquery.visible.min.js"></script> <!-- Visible in Viewport -->
    <script src="~/Assets/js/builder.js"></script>
    <script src="~/Assets/js/sidebar_hover.js"></script>
    <script src="~/Assets/js/application.js"></script> <!-- Main Application Script -->
    <script src="~/Assets/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
    <script src="~/Assets/js/widgets/notes.js"></script>
    <script src="~/Assets/js/quickview.js"></script> <!-- Quickview Script -->
    <script src="~/Assets/js/pages/search.js"></script> <!-- Search Script -->
    <!-- BEGIN PAGE SCRIPTS -->
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
    <script src="~/Assets/plugins/summernote/summernote.js"></script>
    <script src="~/Assets/plugins/skycons/skycons.js"></script>
    <script src="~/Assets/plugins/simple-weather/jquery.simpleWeather.min.js"></script>
    <script src="~/Assets/js/widgets/widget_weather.js"></script>
    <script src="~/Assets/js/widgets/todo_list.js"></script>
    <script src="~/Assets/js/student_profile.js"></script>
    <!-- END PAGE SCRIPTS -->
</body>
</html>
